# Eclipse
.classpath
.project
.settings
eclipsebin

# Ant
bin
gen
build
out
lib

# Maven
target
pom.xml.*
release.properties
coverage.ec
dependency-reduced-pom.xml
buildNumber.properties
settings.xml

# IntelliJ
.idea
*.iml
*.iws
*.ipr
classes
gen-external-apklibs

# Robolectric
tmp

.DS_Store
